@import url(./nosotros.css);
@import url(./preguntasFrecuentes.css);
@import url(./error404.css);
@import url(./contactos.css);

/* --- Footer hacia abajo --- */
body{
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
  flex-grow: 1;
}

/* Texto */
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

/* --- SECCIÓN PRINCIPAL --- */

/* --- Carousel --- */
.banner-img {
  max-height: 85vh;
  object-fit: cover;
  object-position: center 30%;
}
.caruosel .carousel-control-prev-icon, .caruosel .carousel-control-next-icon {
    filter: invert(0) grayscale(0);
}

/* --- SECCIÓN SEGURIDAD --- */

/* --- Imágenes --- */
.security-img {
  height: auto;
  object-fit: cover;
}
/* --- Íconos --- */
.main-svg {
  width: 32px;
  height: 32px;
}

/* --- FOOTER --- */

/* --- Imágen --- */
.footer-img {
  width: 80%;
  height: auto;
  object-fit: cover;
}
/* --- Íconos --- */
.footer-svg {
  width: 24px;
  height: 24px;
}